<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodsIssue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF089A541CE614EA00B72EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF089A681CE614EA00B72EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF089A731CE614EA00B72EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
